@charset "utf-8";
body {
    height: 100vh;
    margin: 0px;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";


}
/*----------header--------------*/

header {
    display: flex;
}

ul#nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 350px;
}

li.nav {
    width: 32%;
    border-left: 1px solid pink;
    border-right: 1px solid pink;
    list-style: none;
    /* justify-content: space-between; */
}

li a {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    /* font-weight: 700; */
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    width: 180px;
}

/*--------------main----------------*/
#main-picture img {
 width: 100%;
}

#main1 img {
    /* border-radius: 320px; */
    /* width: 107px; */
    /* height: 95px; */
    /* display: block; */
    width: 35%;
    height: auto;
}


h2 {
    font-size: 30px;
    margin: auto;
    width: 155px;
}

#main2 img {
    width: 35%;
    height: 425px;
}